/*
 * Pure marking v3.0.0
 * Copyright 2016-2018 Techoof.
 */


@import 'config'
@import 'mixins'


/*
 * Base styles
 */

/* Basic */
*, 
*:focus,
*:active
    box-sizing: border-box
    outline: none !important
    text-decoration: none
    margin: unset
    padding: unset
    box-shadow: none

body 
    font-size: $tx-size

.wrapper
    font-size: 1em

a,
button,
.pointer
    cursor: pointer

/* Display elements */
.ds-i 
    display: inline
.ds-i-b 
    display: inline-block
.ds-b 
    display: block
.ds-t 
    display: table
.ds-t-c 
    display: table-cell
.ds-n 
    display: none

/* Position elements */
.fl-left
    float: left
.fl-right
    float: right

/* Text position */
.tx-center
    text-align: center
.tx-right
    text-align: right
.tx-left
    text-align: left

/* Text styles */
.tx-bold
    font-weight: bold
.tx-oblique
    font-style: oblique
.tx-normal
    font-style: normal
.tx-italic
    font-style: italic


/*
 * Fixes
 */

/* Fix autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
    border: 0
    -webkit-text-fill-color: #ссс
    -webkit-box-shadow: 0 0 0px 1000px transparent inset
    transition: background-color 5000s ease-in-out 0s
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%)

/* Add the correct display in IE 10-. */
.hidden,
[hidden]
    display: none



/*
 * Grid styles
 */

.container,
.container-fluid
    padding-right: $padding-grid
    padding-left: $padding-grid
    margin-right: auto
    margin-left: auto

.row
    margin-left: -$padding-grid
    margin-right: -$padding-grid
    display: flex
    flex-flow: row wrap

[class*="col-"] 
    width: 100%
    position: relative
    min-height: 1em
    padding-right: $padding-grid
    padding-left: $padding-grid

@include generate-columns('', width)
@include generate-columns(-offset, margin-left)

[class*="col-xs-"]
    float: left

.col-xs-hidden,
.col-hidden
    display: none


/* Extra small devices (phones, less than sm) */
@media (max-width: $sm-resolution - 1)
    .hidden-xs
        display: none !important

    @include generate-columns(-xs, width)
    @include generate-columns(-xs-offset, margin-left)

/* Small devices (tablets, sm and to md) */
@media (min-width: $sm-resolution) and (max-width: $md-resolution - 1)
    .container
        width: calc(#{$sm-resolution} - #{$padding-grid})

    .col-sm-hidden
        display: none

    @include generate-columns(-sm, width)
    @include generate-columns(-sm-offset, margin-left)

/* Medium devices (desktops, md and to lg) */
@media (min-width: $md-resolution) and (max-width: $lg-resolution - 1), (min-width: $ex-resolution) and (max-width: $md-resolution - 1) and (orientation:landscape)
    .container
        width: calc(#{$md-resolution} - #{$padding-grid})

    .col-md-hidden
        display: none

    @include generate-columns(-md, width)
    @include generate-columns(-md-offset, margin-left)

/* Large devices (large desktops, lg and up) */
@media (min-width: $lg-resolution)
    .container
        width: calc(#{$lg-resolution} - #{$padding-grid})

    .col-lg-hidden
        display: none

    @include generate-columns(-lg, width)
    @include generate-columns(-lg-offset, margin-left)
