<template lang="pug">
  button.pure-button(
    :disabled="disabled",
    @click="e => $emit('click', e)")

    slot
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="sass" src="./styles.sass">
