.pure-button
  border: 0.1rem solid transparent
  padding: 0.6em 1.8em
  font-weight: bold
  font-size: 0.9em
  border-radius: 0.2rem
  white-space: nowrap

  &.large
    padding: 0.8em 1em
    font-size: 1em

  &.small
    font-size: 0.8em
    padding: 0.5em 1em
    font-weight: 500
    border-width: 0.05em

  &:disabled
    opacity: 0.45
    cursor: not-allowed
  
  &.transparent
    background: unset
    border: unset
    font-weight: normal
