<template lang="pug">
  .pure-component.pure-input(@click="e => $emit('click', e)")
    input(
      :tabindex="tabindex",
      ref="input",
      :name="name",
      :type="type",
      :placeholder="placeholder",
      v-model="model",
      :disabled="disabled",
      :min="min",
      :max="max",
      @keyup.enter="e => $emit('enter', e)",
      @blur="e => $emit('blur', e)")
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text'
    },

    min: {
      type: Number,
      default: undefined,
    },

    max: {
      type: Number,
      default: undefined,
    },

    disabled: {
      type: Boolean,
      default: false
    },

    autofocus: {
      type: Boolean,
      default: false
    },

    tabindex: {
      default: null
    },

    placeholder: {
      type: String,
      default: null
    },

    value: {
      require: false,
      default: null
    },

    readonly: {
      type: Boolean,
      require: false,
      default: false
    },

    name: {
      type: String,
      require: false,
      default: null
    }
  },

  computed: {
    model: {
      get() {
        return this.value;
      },

      set(newValue) {
        this.$emit('input', newValue);
      }
    }
  },

  mounted() {
    if(this.autofocus) {
      this.focus();
    }
  },

  methods: {
    focus() {
      this.$nextTick(() => {
        this.$refs.input.focus()
      })
    }
  }
}
</script>

<style lang="sass" src="./styles.sass">