.pure-input
  width: 100%

  input
    background-color: #ffffff
    display: block
    width: 100%
    border: 0.07em solid lighten(#000000, 80%)
    padding: 0.7em 1em
    font-size: 0.9em
    color: #000000

  &>.small
    input
      padding: 0.3em 1em